.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: white;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-indicators li {
  background-color: grey;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color:  rgba(72, 113, 248, 0.068);
}