<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headFragment"></div>
    <title>Admin page</title>
</head>
<body>
<header th:insert="fragments/general :: navbarFragment"></header>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Country</th>
            <th>Region</th>
            <th>Year</th>
            <th>Description</th>
            <th>Producer</th>
            <th>Grapes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${Wines}">
            <td th:text="${wine.value.getId()}"></td>
            <td th:text="${wine.value.getName()}"></td>
            <td th:text="${wine.value.getType()}"></td>
            <td th:text="${wine.value.getCountry()}"></td>
            <td th:text="${wine.value.getRegion()}"></td>
            <td th:text="${wine.value.getYear()}"></td>
            <td th:text="${wine.value.getDescription()}"></td>
            <td th:text="${wine.value.getProducer().getName()}"></td>
            <td>
                <ul style="list-style-type:none; padding-left: 0">
                    <li th:each="grape : ${wine.value.getGrapes()}" th:text="${grape.getName()}"></li>
                </ul>
            </td>
            <td>
                <ul style="list-style-type:none; padding-left: 0">
                    <li><a th:href="'/admin/edit/' + ${wine.value.getId()}">Edit</a></li>
                    <li><a th:href="'/admin/delete/' + ${wine.value.getId()}">Delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>

    </table>

    <h2 style="text-align: center">Create new wine</h2>
    <form class="col-12" action="#" th:action="@{/admin}" th:object="${Wine}" method="post">
        <div class="row">
            <div class="col-1">
                <label for="nameInput">Name: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="nameInput" type="text" th:field="*{name}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="typeInput">Type: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="typeInput" type="text" th:field="*{type}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="countryInput">Country: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="countryInput" type="text" th:field="*{country}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="regionInput">Region: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="regionInput" type="text" th:field="*{region}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="yearInput">Year: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="yearInput" type="text" th:field="*{year}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="descriptionInput">Description: </label>
            </div>
            <div class="col-11">
                <textarea class="w-100" id="descriptionInput" type="text" th:field="*{description}" required></textarea>
            </div>
        </div>
        <div class="row" th:each="grape, stat : ${Grapes}">
            <div class="col">
                <label th:for="'grape' + ${grape.name}" th:text="${grape.name}"></label>
            </div>
            <div class="col">
                <input type="checkbox" th:id="'grape' + ${grape.name}" th:value="${grape.id}" name="grape">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="producerIdInput">Producer: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="producerIdInput" type="text" th:field="*{producerId}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="imgPathInput">Image path: </label>
            </div>
            <div class="col-11">
                <input class="w-100" id="imgPathInput" type="text" th:field="*{imgPath}" required>
            </div>
        </div>
        <button class="btn btn-outline-success" type="submit" value="Submit">Save</button>
    </form>

</div>

<footer class="footer">
    <div th:replace="fragments/general :: footerFragment"></div>
</footer>
</body>
</html>