<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/general :: navbarFragment"></div>

<div class="container">
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="#">Uniqo Wines</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" href="/wines">Wines</a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;                    <li class="nav-item dropdown">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            Dropdown&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Action</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                </ul>-->
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" disabled>-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

    <h1 align="center">All Wines</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Country</th>
            <th>Region</th>
            <th>Year</th>
            <th>Description</th>
            <th>ProducerId</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${Wines}">
            <td th:text="${wine.id}"></td>
            <td th:text="${wine.name}"></td>
            <td th:text="${wine.type}"></td>
            <td th:text="${wine.country}"></td>
            <td th:text="${wine.region}"></td>
            <td th:text="${wine.year}"></td>
            <td th:text="${wine.description}"></td>
            <td th:text="${wine.producerId}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>