<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headFragment"></div>
    <title>Wines</title>
</head>
<body>

<header th:insert="fragments/general :: navbarFragment"></header>

<div class="container">
    <h1 align="center">All Wines</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Country</th>
            <th>Region</th>
            <th>Year</th>
            <th>Description</th>
            <th>ProducerId</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${Wines}">
            <td th:text="${wine.id}"></td>
            <td th:text="${wine.name}"></td>
            <td th:text="${wine.type}"></td>
            <td th:text="${wine.country}"></td>
            <td th:text="${wine.region}"></td>
            <td th:text="${wine.year}"></td>
            <td th:text="${wine.description}"></td>
            <td th:text="${wine.producerId}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>