<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headFragment"></div>
    <title>Wines</title>
</head>
<body class="body">

<header th:insert="fragments/general :: navbarFragment"></header>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="border:10px solid white">
    <div class="carousel-inner">
        <div class="carousel-item" th:each="wine : ${Wines}"
             th:classappend="${wine.value.getId() == 1} ? active : .">
            <img th:src="@{${wine.value.getImgPath()}}" class="d-block" alt="..." width="130" height="450"
                 style="margin:auto">
            <div class="carousel-caption" style="position:relative; left:auto; right:auto">
                <h5 style="color:black" th:text="${wine.value.getName()}"></h5>
                <p style="color:black" th:text="${wine.value.getDescription()}"></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="margin-top: 43px">
            <h3>Sort choices</h3>
            <ul style="list-style-type:none; padding-left: 0">
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/Name'">Name</a></li>
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/Year'">Year</a></li>
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/Type'">Type</a></li>
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/Country'">Country</a></li>
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/Region'">Region</a></li>
                <li><a class="btn btn-outline-primary" th:href="'/wines/sort/grapename'">Grape</a></li>
            </ul>
            <h3>Filter choices</h3>
            <form th:action="@{/wines}" method="post" class="d-flex">
                <input type="hidden" name="filter" value="Red wine">
                <button class="btn btn-outline-success" type="submit" value="Submit">Red wines</button>
            </form>
            <form th:action="@{/wines}" method="post" class="d-flex">
                <input type="hidden" name="filter" value="White wine">
                <button class="btn btn-outline-success" type="submit" value="Submit">White wines</button>
            </form>
            <form th:action="@{/wines}" method="post" class="d-flex">
                <input type="hidden" name="filter" value="Champagne">
                <button class="btn btn-outline-success" type="submit" value="Submit">Champagne</button>
            </form>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 align="center">All Wines</h2>

            <div class="card" th:each="wine : ${Wines}" style="border:2px solid #333; margin: 3px">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img th:src="@{${wine.value.getImgPath()}}" alt="..." width="75" height="270"
                             style="margin:10px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${wine.value.getName()}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${wine.value.getYear()}"></h6>
                            <p class="card-text" th:text="${wine.value.getDescription()}"></p>
                            <p class="card-text">
                            <ul style="list-style-type:none; padding-left: 0">
                                <li th:each="grape : ${wine.value.getGrapes()}" th:text="${grape.getName()}"></li>
                            </ul>
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><b
                                        th:text="${wine.value.getProducer().getName()}"></b></small><br>
                                <small class="text-muted" th:text="${wine.value.getCountry()}"></small><br>
                                <small class="text-muted" th:text="${wine.value.getRegion()}"></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div th:replace="fragments/general :: footerFragment"></div>
</footer>

</body>
</html>